<html ng-app="Main">
	<head>
		<meta charset="UTF-8">
		<title>Your Star Wars Name</title>

		<!-- including bower resources -->  
		<script src="bower_components/angular/angular.min.js"></script>

		<!-- including the app controller -->
		<script src="app.js"></script>

		<!-- including stylesheets -->
		<link rel="stylesheet" href="css/form.css">
		<link rel="stylesheet" href="css/star.css">
		<link rel="stylesheet" href="css/saber.css">
	</head>

	<body class="container" ng-controller="mainController as mainCtrl">

		<div id='title'>
			<span>Your Star Wars Name</span>
			<div id="result" ng-show="mainCtrl.result != null" style="color:white;">
				is <span>{{mainCtrl.result}}</span>
			</div>
		</div>
		<form ng-submit="mainCtrl.doWork()">
			<input placeholder="Your first name" required
			 ng-model="mainCtrl.first" type="text">

			<input placeholder="Your last name" required
			 ng-model="mainCtrl.last" type="text">

			<input placeholder="Your mother's name" required
			 ng-model="mainCtrl.mother" type="text">

			<input placeholder="Your hometown" required
			 ng-model="mainCtrl.city" type="text">

			<input placeholder="Your age" required
			 ng-model="mainCtrl.age" type="number">
			<input type="submit" value="create">
			<div class="lightsaber" id="dark-side">
				<label for="darth-vader-example"></label>
				<input style="display:none" type="checkbox" id="darth-vader">
				<div class="switch"></div>
				<div class="plasma vader"></div>
			</div>

			<div class="lightsaber" id="light-side">
				<label for="obi-wan-example"></label>
				<input style="display:none" type="checkbox" id="obi-wan">
				<div class="switch"></div>
				<div class="plasma obi-wan"></div>
			</div>

			<div id='title' style="bottom: 20%;">
				<div id="padawan" ng-show="mainCtrl.kind == 'padawan'" style="color:white;">
					... and you are a young Padawan!
				</div>
				<div id="jedi" ng-show="mainCtrl.kind == 'jedi'" style="color:white;">
					... and you are a Jedi Master!
				</div>
				<div id="sith" ng-show="mainCtrl.kind == 'sith'" style="color:white;">
					... and you are a powerful Sith!
				</div>
				<div id="knight" ng-show="mainCtrl.kind == 'knight'" style="color:white;">
					... and you are a Jedi Knight
				</div>
			</div>	
		</form>

		<div id='stars'></div>
		<div id='stars2'></div>
	</body>
</html>
